# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For more information, see https://browserslist.dev/.

# You can also use the following keywords:
# - last 2 versions (last 2 major versions of all browsers)
# - not dead (excludes browsers that are no longer officially supported or have < 0.5% market share)
# - > 0.2% (browsers with more than 0.2% market share)
# - Firefox ESR (Firefox Extended Support Release)

last 1 Chrome version
last 1 Firefox version
last 2 Edge major versions
last 2 Safari major versions
last 2 iOS major versions
last 2 Android major versions
last 2 Opera major versions
last 2 Samsung major versions
